<div class="scroller">
    <app-library-snippet *ngFor="let session of ($sessionList | async).complete" 
        [session]="session" 
        [class.activated]="activated.has(session.id)"
        (longpress)="longpress(session.id)"
        (tap)="tap(session)">
    </app-library-snippet>
</div>
