.scroller {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    //scroll-behavior: smooth;
    overflow-y: scroll;
    color: black;
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
    margin-bottom: 30px;
}
