<div class="scroller">
    <app-kitchen-snippet *ngFor="let session of ($sessionList | async).incomplete" 
        [session]="session" 
        [class.activated]="activated.has(session.id)"
        (longpress)="longpress(session.id)"
        (tap)="tap(session)">
    </app-kitchen-snippet>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="foo">
    <ion-fab-button (click)="clickNew()">
        <fa-icon [icon]="faPlus"></fa-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab *ngIf="showMenu" vertical="bottom" horizontal="center" slot="fixed" class="foo">
    <ion-fab-button (click)="openActionSheet($event)">
        <fa-icon [icon]="faEllipsisV"></fa-icon>
    </ion-fab-button>
</ion-fab>
<input #fileinput multiple type="file" name="name" style="display: none;" accept="image/*" 
  (change)="handleFiles($event)"/>
