.snippet {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    --color-incomplete: var(--ion-color-primary);
    --color-complete: var(--ion-color-secondary);
    border-bottom: 1px solid grey;
    .photo {
        width: 150px;
        min-width: 150px;
        border: 1px solid rgba(0,0,0,0.2);
        background-size: cover;
        background-position: center;
        filter: drop-shadow(-1px 1px 3px var(--ion-color-dark));
    }
    .progressbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        .progressitem {
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: center;
            //color: var(--color-incomplete, var(--ion-color-secondary));
            color: var(--ion-color-primary);
            position: relative;
            ion-icon {
                display: inline-block;
                //font-size: 1.8em;
                font-size: 36px;
            }
            opacity: 0.6;
        }
        .progressitem.complete {
            //color: var(--color-complete, var(--ion-color-primary));
            color: var(--ion-color-primary);
            opacity: 1;
        }
        .progressitem.complete:not(:first-child):before {
            height: 2px;
            background-color: var(--ion-color-primary);
            content: '';
            position: absolute;
            width: calc(100% - 26px);
            left: calc(-50% + 14px);
            z-index: -1;
        }
        .progressitem:not(.complete):not(:first-child):before {
            height: 2px;
            background-color: var(--ion-color-primary);
            content: '';
            position: absolute;
            width: calc(100% - 26px);
            left: calc(-50% + 14px);
            z-index: -1;
            opacity: 0.8;
        }
    }
}
:host.activated {
    .snippet {
        filter: drop-shadow(0px 0px 5px red);
    }
}
