.mainlayout {
    width: 100%;
    height: 100%;
    .statusbar {
        width: 100%;
        max-width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 5px;
        ion-icon {
            font-size: 40px;
            width: 40px;
            height: 40px;
            color: var(--ion-color-primary);
        }
        ion-icon.disabled {
            opacity: 0.5;
        }
        .trashbox {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            font-weight: 700;
            .count {
                color: var(--ion-color-primary);
            }
        }
    }
    .loading {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        ion-spinner {
            width: 40px;
            height: 40px;
            --color: var(--ion-color-primary);
        }
    }
    .scroller {
        width: 100%;
        height: calc(100% - 130px);
        margin-bottom: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
        .pics {
            display: grid;
            grid-template-columns: 32vw 32vw 32vw;
            grid-template-rows: auto;
            grid-gap: 2vw;
            
            .image {
                width: 100%;
                height: 22.5vw;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .image:before {
                content: "";
                display: block;
                height: 0;
                width: 0;
                padding-bottom: calc(4/3 * 100%);
              }
            filter: drop-shadow(-1px 1px 3px grey);
        }
    }
}
.sortable-drag {
    display: none;
    //transform: translateY(-22.5vw);
}

