div.bigbutton {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 5px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
    fa-icon {
        color: var(--ion-color-primary-contrast);
        font-size: 24px;
    }
    bottom: 5px;
    right: 5px;
}
.bigbutton.disabled {
    //background-color: grey;
    background-color: var(--ion-color-primary-deselect);
    opacity: 0.5;
}
.tagwrapper {
    padding-left: 5px;
}