<ion-icon slot="icon-only" name="close" class="closebutton" (click)="close($event)"></ion-icon>
<form [formGroup]="metadata">
    <ion-list>
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input placeholder="..." formControlName="title" autofocus></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Description</ion-label>
            <ion-input placeholder="..." formControlName="description"></ion-input>
        </ion-item>
        <div class="tagwrapper"><app-taginator></app-taginator></div>
    </ion-list>
</form>


<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="foo">
    <ion-fab-button [disabled]="!canFinish" (click)="finish()">
        <fa-icon [icon]="faCheck"></fa-icon>
    </ion-fab-button>
</ion-fab> -->

<div class="bigbutton play ion-activatable" (click)="finish()" [ngClass]="{disabled: metadata.invalid}">
    <fa-icon [icon]="faCheck"></fa-icon>
</div>