.taglist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    align-items: center;
    .subheadtext {
        color: var(--ion-color-secondary);
        margin: 0px 10px 0px 5px;
    }
    .chippy {
        border-radius: 15px;
        font-size: 18px;
        background: var(--ion-color-primary-shade);
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5px;
        margin-bottom: 3px;
        margin-top: 3px;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
        .text {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .chippy.selected {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
    }
    .chippy.button {
        border-radius: 50%;
        text-align: center;
        width: 32px;
        .text {
            font-size: 22px;
        }
    }
}
.taglist.compact {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .chippy {
        border-radius: 7px;
        font-size: 11px;
        height: 16px;
        margin-right: 2px;
        margin-bottom: 1px;
        margin-top: 1px;
        .text {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
