<div class="taglist" [class.compact]="compact">
    <div *ngIf="tags == []" class="subheadtext">No tags</div>
    <div *ngFor="let tag of tags" class="chippy selected">
        <div class="text">{{tag}}</div>
    </div>
    <div *ngIf="!readonly" class="chippy button selected" (click)="add()">
        <div class="text">+</div>
    </div>
</div>
