.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-top: 50px;
}

.tagselwrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    .subheadtext {
        color: var(--ion-color-secondary);
        margin-bottom: 10px;
    }
    .taglist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5px;
        .chippy {
            border-radius: 18px;
            font-size: 18px;
            color: var(--ion-color-primary-shade);
            background: var(--ion-color-primary-tint);
            height: 32px;
            line-height: 37px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 5px;
            margin-bottom: 5px;
            box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
            .text {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .chippy.selected {
            background: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
        }
    }
}
.inputrow {
    display: flex;
    flex-direction: row;
    ion-item {
        --padding-start: 8px;
        flex-grow: 1;
    }
}
