<ion-icon slot="icon-only" name="close" class="closebutton" (click)="close()"></ion-icon>
<div class="layout">
    <div class="tagselwrapper">
        <div *ngIf="haveTags()" class="subheadtext">Touch to select</div>
        <div *ngIf="!haveTags()" class="subheadtext">Type to add new tags</div>
        <div class="taglist">
            <div *ngFor="let t of dtags" class="chippy" [class.selected]="t.selected" (click)="touchTag(t)">
                <div class="text">{{t.tag}}</div>
            </div>
            <div *ngFor="let t of custom" class="chippy" (click)="touchCustom(t)">
                <div class="text">{{t}}</div>
            </div>
        </div>
    </div>
    <div class="inputrow">
        <ion-item>
            <form [formGroup]="tQuery">
                <ion-input type="text" formControlName="text" placeholder="Type tags" (ionChange)="filterChoices()">
                </ion-input>
            </form>
        </ion-item>
        <ion-fab-button [disabled]="!changed" (click)="acceptTags()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </div>
</div>
