<ion-tabs (ionTabsDidChange)="changed($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="work">
      <ion-icon [name]="getIcon('construct', 'work')"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon [name]="getIcon('library', 'library')"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon [name]="getIcon('options', 'settings')"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
