.snippet {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    --color-incomplete: var(--ion-color-primary);
    --color-complete: var(--ion-color-secondary);
    border-bottom: 1px solid grey;
    .photo {
        width: 160px;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .progressbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        .progressitem {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            //color: var(--color-incomplete, var(--ion-color-secondary));
            color: var(--ion-color-primary);
            position: relative;
            ion-icon {
                display: inline-block;
                font-size: 1.8em;
                height: 36px;
                width: 36px;
            }
            opacity: 0.6;
        }
        .progressitem.complete {
            //color: var(--color-complete, var(--ion-color-primary));
            color: var(--ion-color-primary);
            opacity: 1;
        }
        .progressitem.complete:not(:first-child):before {
            height: 2px;
            background-color: var(--ion-color-primary);
            content: '';
            position: absolute;
            width: calc(100% - 20px);
            left: calc(-50% + 10px);
            z-index: -1;
        }
        .progressitem:not(.complete):not(:first-child):before {
            height: 2px;
            background-color: var(--ion-color-primary);
            content: '';
            position: absolute;
            width: calc(100% - 20px);
            left: calc(-50% + 10px);
            z-index: -1;
            opacity: 0.7;
        }

    }
}
