.snippet {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    --color-incomplete: var(--ion-color-primary);
    --color-complete: var(--ion-color-secondary);
    border-bottom: 1px solid grey;
    .photo {
        width: 150px;
        min-width: 150px;
        border: 1px solid rgba(0,0,0,0.2);
        background-size: cover;
        background-position: center;
        filter: drop-shadow(-1px 1px 3px var(--ion-color-dark));
    }
    .text {
        color: var(--ion-color-primary);
        padding: 5px;
    }
    
}
:host.activated {
    .snippet {
        filter: drop-shadow(0px 0px 5px red);
    }
}
